<div class="login-page">
  <mat-card>
    <mat-card-content>
      <div class="login-form">
        <mat-card-title class="login-title">{{
          currentPath === "login" ? "Login" : "Register"
        }}</mat-card-title>
        <form [formGroup]="loginForm">
          <mat-form-field>
            <mat-label>Username</mat-label>
            <input type="text" matInput formControlName="userName" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password" />
          </mat-form-field>
          <span *ngIf="error" class="error">
            {{ error }}
          </span>
          <div class="button">
            <a
              style="color: black"
              [routerLink]="currentPath === 'login' ? '/register' : '/login'"
            >
              {{
                currentPath !== "login"
                  ? "Already have an account? Login"
                  : "Don't have an account? Register"
              }}
            </a>
            <button
              (click)="currentPath === 'login' ? onSignIn() : onSignUp()"
              type="submit"
              [disabled]="loginForm.invalid"
              mat-button
            >
              {{ currentPath === "login" ? "Login" : "Register" }}
            </button>
          </div>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</div>
