.header-content {
  position: sticky;
  top: 0;
  display: flex;
  padding: 1.5rem 1.5rem;
  border-bottom: 1px solid rgba(240, 240, 240, 1);
  align-items: center;
  height: 1rem;
  justify-content: space-between;
  background-color: black;
  z-index: 1;
  margin-bottom: 1rem;
}

.header-title {
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.logout-button {
  background: white;
}
