<app-header [pageTitle]="'Manage Requests'"></app-header>

<div class="manage-requests-page">
  <button
    *check-permission="['create-request']"
    class="create-request-button"
    type="submit"
    (click)="openCreateRequestForm()"
    mat-stroked-button
  >
    + Create Request
  </button>
  @if (!currentUserRequests.length) {
  <span>You have no issues raised</span>
  } @else {
  <div class="manage-request-cards">
    <div style="padding: 1rem; width: 40rem">
      @if (dataSource.length) {

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        @for (attribute of displayedAttributes; track $index) {
        <ng-container [matColumnDef]="attribute.fieldName">
          <th mat-header-cell *matHeaderCellDef>{{ attribute.displayName }}</th>
          <td mat-cell *matCellDef="let element">
            {{ element[attribute.fieldName] }}
          </td>
        </ng-container>
        }
        <ng-container
          *check-permission="['approve-request']"
          [matColumnDef]="'approve'"
        >
          <th mat-header-cell *matHeaderCellDef>{{ "Approve Request" }}</th>
          <td mat-cell *matCellDef="let element">
            <button
              type="submit"
              (click)="
                updateRequestStatus(
                  element._id!,
                  requestStatuses.refundPending,
                  'approve'
                )
              "
              mat-button
            >
              Approve
            </button>
          </td>
        </ng-container>
        <ng-container
          *check-permission="['reject-request']"
          [matColumnDef]="'reject'"
        >
          <th mat-header-cell *matHeaderCellDef>{{ "Reject Request" }}</th>
          <td mat-cell *matCellDef="let element">
            <button
              style="color: red"
              type="submit"
              (click)="
                updateRequestStatus(
                  element._id!,
                  requestStatuses.refundPending,
                  'reject'
                )
              "
              mat-button
            >
              Reject
            </button>
          </td>
        </ng-container>
        <ng-container
          *check-permission="['delete-request']"
          [matColumnDef]="'delete'"
        >
          <th mat-header-cell *matHeaderCellDef>{{ "Delete Request" }}</th>
          <td mat-cell *matCellDef="let element">
            <button
              *check-permission="['delete-request']"
              class="delete-button"
              type="submit"
              (click)="deleteRequest(element._id!)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
        @if (currentUserRole!=='Admin') {
        <ng-container [matColumnDef]="'chat'">
          <th mat-header-cell *matHeaderCellDef>{{ "Chat" }}</th>
          <td mat-cell *matCellDef="let element">
            <button
              style="cursor: pointer"
              type="submit"
              (click)="openChatDialog(element._id!, element.status)"
            >
              <mat-icon>message</mat-icon>
            </button>
          </td>
        </ng-container>
        }
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      }
    </div>
  </div>
  }
</div>
