.chats-container {
  display: flex;
}

.chat-list-card {
  width: 18rem;
}

.chat-list-card-content {
  padding: 0 !important;
}

.selected-chat {
  background: rgba(199, 199, 199, 0.489);
}

.customer-request {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.147);
  flex-direction: col;
  justify-content: space-between;
  padding: 10px;
  flex-direction: column;
  min-height: 3rem;
  cursor: pointer;
}
